.chocolate-img{
  height: 100px;
  width: 100px;
  align-self: center;
}


.chocolates-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:16px;
  grid-column-end: auto;
}

@media(max-width: 992px){
  .chocolates-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px){
  .chocolates-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 570px){
  .chocolates-cards {
    grid-template-columns: 1fr 1fr;
  }
  #nav-text {
    font-size: 16px;
    padding: 15px 15px;
    margin: 0;
  }

  .home-image {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.item-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.164);
  color: #06255B;
  align-items: center;
}

.text-infos {
  text-align: center;
  color:#06255bce;
}

/* ---------- BANNER ------------------ */

.switch {
  background-color: #c2d8fd00;
 }

.nav {
  position: relative;
  background-color: #f0f0f0;
  padding: 5px;
  box-shadow:#2728294b 0px 0px 20px 0px;
}

.nav p {
  font-size: 20px;
  color: #06255B;
  opacity: .7;
  text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
  margin-left:25px;
}

.leonidas-logo {
  width: 10vh;
  border-radius: 8px;
}

/* ---------- FOOTER ------------------ */

.footer {
  background: #c2d8fd00;
  text-align: center;
  display: flex;
  justify-content: center;
  height: 70px;
  padding: 0px 50px;
  position: absolute;
  left: 0 ; right: 0; bottom: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #a6a5a5;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;

    &:hover {
      color: #b1b2ec;
    }
}

body {
  min-height:100%;
  position: relative;
  padding-bottom: 70px;
}

/* ---------- HOME ------------------ */

.home-image img {
  width: 30vh;
  height: 30vh;
  margin:3px;
  border-radius: 8px;
  border: 1px solid #06255B;

}

.home-image {
  padding: 20px;
}

/* ---------- COMMENTS ------------------ */

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px dashed #a9b6cc;
  border-radius: 8px;
  margin-bottom: 10px;
}

.comments em {
  opacity: .7;
}

/* ---------- BUTTON ------------------ */
.button {
  padding: 8px 10px;
  color:#e5efff;
  background-color: #06255B;
  text-decoration: none;
  align-self: center;
  border-radius: 8px;
  cursor: pointer;

    &:hover {
      color: #e5efff;
    }
}

.search {
  display: block;
  margin: 30px 20px;
  width: 70%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #aaabad;
  border-radius: 8px;
}
