.chocolate-img{
  height: 100px;
  width: 100px;
  align-self: center;
}


.chocolates-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:16px;
}

@media(max-width: 992px){
  .chocolates-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 768px){
  .chocolates-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 480px){
  .chocolates-cards {
    grid-template-columns: 1fr 1fr;
  }
}
